In [1]:
import pandas as pd

In [2]:
dicionario = {'eua': {'total_morte': 1000}, 'brasil': {'total_morte': 1000}}

In [5]:
df = pd.DataFrame(dicionario).T

In [6]:
df

        total_morte
eua            1000
brasil         1000

In [9]:
soma = df['total_morte'].sum()

In [10]:
soma

2000

In [11]:
df['percentual_mortes'] = df['total_morte']/soma

In [12]:
df

        total_morte  percentual_mortes
eua            1000                0.5
brasil         1000                0.5

In [13]:
import numpy as np

In [14]:
np.nan

nan