In [1]:
print('Hello World')

Hello World

In [2]:
lista = [1,2,3]

In [3]:
print(lista)

[1, 2, 3]

In [4]:
import pandas as pd

In [5]:
obj = pd.Series([4,7,-5,3])

In [6]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [7]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [8]:
obj2 = pd.Series([4, 7, -5, 3], index = ['d', 'b', 'a', 'c'])

In [9]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [10]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [12]:
obj2['a']

-5

In [13]:
obj2['d'] = 6

In [14]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [16]:
obj2[obj2>0]

d    6
b    7
c    3
dtype: int64

In [17]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [18]:
obj2 / 100

d    0.06
b    0.07
a   -0.05
c    0.03
dtype: float64

In [19]:
'b' in obj2

True

In [20]:
dados = {'estados': ['SC', 'RS', 'PR', 'SP'], 'ano': [2017, 2018, 2019, 2020], 'populacao': [2000, 3000, 4000, 5000]}

In [21]:
frame_dados = pd.DataFrame(dados)

In [22]:
frame_dados

  estados   ano  populacao
0      SC  2017       2000
1      RS  2018       3000
2      PR  2019       4000
3      SP  2020       5000

In [24]:
frame_dados.head()

  estados   ano  populacao
0      SC  2017       2000
1      RS  2018       3000
2      PR  2019       4000
3      SP  2020       5000

In [26]:
pd.DataFrame(dados, columns=['ano', 'estados', 'populacao'])

    ano estados  populacao
0  2017      SC       2000
1  2018      RS       3000
2  2019      PR       4000
3  2020      SP       5000

In [27]:
frame_dados['populacao']

0    2000
1    3000
2    4000
3    5000
Name: populacao, dtype: int64

In [28]:
frame_dados['populacao'] * 0.8

0    1600.0
1    2400.0
2    3200.0
3    4000.0
Name: populacao, dtype: float64

In [29]:
frame_dados.estados

0    SC
1    RS
2    PR
3    SP
Name: estados, dtype: object